* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Bai Jamjuree', sans-serif;
}

.container {}

p {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

h1,
h2 {
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/images/bg-header-desktop.png);
    background-size: cover;
    margin-bottom: 2em;
}

.mainlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
    margin-top: 11em;
    cursor: pointer;
}

.header h1 {
    margin: 1em;
}

.header p {
    text-align: center;
    width: 30%;
}

.header div {
    margin: 2em;
}

.btndiv {
    display: flex;
    min-width: 40vw;
    justify-content: center;
}

.btn {
    margin: 1em;
    width: 18em;
    height: 4em;
    border-style: none;
    border-radius: 80px;
    color: white;
    font-size: 17px;
}

button.btn1 {
    background-color: hsl(171, 66%, 44%);
    filter: drop-shadow(10px 10px 10px rgba(38, 186, 164, 0.247));
}

button.btn2 {
    background-color: hsl(233, 100%, 69%);
    filter: drop-shadow(10px 10px 10px rgba(97, 115, 255, 0.247));
}

.btn1:hover {
    background-color: hsla(171, 66%, 44%, 0.856);
    cursor: pointer;
}

.btn2:hover {
    background-color: hsla(233, 100%, 69%, 0.856);
    cursor: pointer;
}

.sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11em;
}

.sec1 #clipboard {
    text-align: center;
    width: 40%;
    margin: 2em;
}

.midd {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.comp {
    max-width: 100vw;
    height: auto;
}

.middtext {
    display: flex;
    margin: auto;
    gap: 10px;
    width: 19em;
    flex-direction: column;
}

.middtext p {
    margin-bottom: 10%;
}

.sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11em;
}

.screens {
    max-width: 100vw;
}

.sec2 h1 {
    margin: 1em;
}

.sec2 p {
    text-align: center;
    width: 40em;
    margin-bottom: 5em;
}

.functions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
}

.icon {
    width: 8%;
    height: auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box p {
    width: 22em;
}

.partners {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    max-width: 70vw;
    background-color: ;
}

.partner-logo {
    max-width: 20vw;
    height: 100%;
}

.sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.sec3 h1 {
    margin: 1em;
}

.sec3 p {
    text-align: center;
    width: 40em;
    margin-bottom: 5em;
}

footer {
    margin-top: 13em;
    background-color: rgba(118, 150, 170, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
}

.c_logo {
    width: 60px;
    margin-right: 10%;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    flex-wrap: wrap;
    height: 5em;
}

.info span {
    display: flex;
    margin-left: 11em;
    cursor: pointer;
}

footer .media {
    margin-left: 5%;
    display: flex;
}

.logos {
    margin-left: 30%;
    cursor: pointer;
}

@media screen and (max-width: 414px) {
    * {
        line-height: 1.5em;
        box-sizing: border-box;
    }
    .container {
        flex-direction: column;
        margin: auto;
    }
    .header {
        display: flex;
        justify-content: center;
        width: 100vw;
        text-align: center;
        margin-bottom: 2em;
        background-image: url(/images/bg-header-mobile.png);
        background-size: cover;
    }
    .mainlogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        margin-top: 11em;
    }
    .header p {
        text-align: center;
        width: 82vw;
    }
    .btndiv {
        display: flex;
        flex-direction: column;
        min-width: 40vw;
        justify-content: center;
    }
    .sec1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 0;
    }
    .sec1 #clipboard {
        text-align: center;
        width: 80vw;
        margin: 2em;
    }
    .midd {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 5em;
    }
    .comp {
        max-width: 80vw;
    }
    .sec2 h1 {
        margin: 1em;
        text-align: center;
    }
    .sec2 p {
        text-align: center;
        width: 80%;
        margin-bottom: 5em;
        text-align: center;
    }
    .screens {
        max-width: 90vw;
    }
    .functions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    .icon {
        width: 11%;
        margin-bottom: 2em;
        height: auto;
    }
    .partners {
        display: flex;
        flex-direction: column;
        gap: 5em;
        padding: auto;
        background-color: ;
    }
    .partner-logo {
        max-width: 30vw;
        height: 100%;
    }
    .sec3 h1 {
        margin: 1em;
        text-align: center;
    }
    .sec3 p {
        text-align: center;
        width: 80%;
        margin-bottom: 5em;
    }
    footer {
        margin-top: 13em;
        background-color: rgba(118, 150, 170, 0.055);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 25em;
    }
    .c_logo {
        width: 17%;
        margin-right: 0;
    }
    .info {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        flex-wrap: nowrap;
        row-gap: 10px;
        margin: 2em;
        align-items: center;
    }
    .info span {
        margin: 0;
    }
    footer .media {
        margin-left: 0;
        margin-bottom: 1em;
        display: flex;
        width: 80vw;
        flex-direction: row;
    }
    .logos {
        display: flex;
        margin-left: 3.5em;
    }
}